<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=320, minimum-scale=1.0, maximum-scale=4.0, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Congress :: Web</title>
</head>

<body>

    <header>
        <div class="container">
            <div class="titleBox">
                <span class="title">CONGRESS</span>
            </div>
            <div class="toolBox">
                <img src="../img/account_circle_black.svg">
            </div>
        </div>
    </header>

    <main id="forum">

        <section class="member">
            <div class="container party-1">
                <div class="memberThumb">
                    <img class="thumb" src="../img/member/m002.png">
                </div>

                <div class="memberInfo">
                    <div class="infoBox">
                        <span class="district">서울 강서구갑</span>
                        <span class="party">| 더불어민주당</span>
                    </div>
                    <span class="memberName">강선우</span>
                    <div class="infoBox">
                        <span class="committee">예산결산특별위원회, 보건복지위원회</span>
                    </div>
                </div>
            </div>
            <div class="bgIcon">
                <img src="../img/partyicon1.svg">
            </div>
            <div class="linkTo">
                <span></span>
            </div>
        </section>

        

        <section class="board">
            <div class="container">
                <ul class="list">
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[3]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                </ul>
                <ul class="pagenation">
                    <li></li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li></li>
                </ul>
            </div>
        </section>

        

    </main>

    <!-- floating button -->
    <div class="fbBox">

        <div class="top">
            <div class="detail">
                <span>최상단</span>
            </div>
            <div class="btn">
                <img src="../img/keyboard_arrow_up_black.svg">
            </div>
        </div>

        <div class="search">
            <div class="detail">
                <span>찾기</span>
            </div>
            <div class="btn">
                <img src="../img/search_black.svg">
            </div>
        </div>

        <div class="new">
            <div class="detail">
                <span>글쓰기</span>
            </div>
            <div class="btn">
                <img src="../img/edit_black.svg">
            </div>
        </div>


        <div class="toggle">
            <div class="detail">
                <span>취소</span>
            </div>
            <div class="btn">
                <img src="../img/add_black.svg">
            </div>
        </div>



    </div>

    <!-- sliding panel -->
    <div id="slideInfo" class="slidePanel">

        <header >
            <div class="container">
                <div class="titleBox">
                    <span class="title">INFO</span>
                </div>
                <div class="toolBox">
                    <img class="closeBtn" src="../img/add_black.svg" style="transform: rotate(45deg);">
                </div>
            </div>
        </header >
    
        <main id="member">
    
            <section id='tabview' class="tabView">
                <div class="tabBox">
                    <div class="tab">
                        <img src="../img/pie_chart_black.svg" alt="chart">
                    </div>
                    <div class="tab">
                        <img src="../img/school_black.svg" alt="school">
                    </div>
                    <div class="tab">
                        <img src="../img/info_black.svg" alt="info">
                    </div>
                </div>
    
                <div class="activeNav"></div>
    
                <div class="contentBox">
                    <div class="content">
                        <canvas id="mycvs" width="900" height="900" >
                        </canvas>
                    </div>
                    <div class="content">
                        <ul>
                            <li>이화여자대학교 사범대학 영어교육학과 학사</li>
                            <li>이화여자대학교 대학원 소비자인간발달학과 석사</li>
                            <li>미국 위스콘신대학교 매디슨 캠퍼스 인간발달 및 가족학 박사</li>
                        </ul>
                    </div>
                    <div class="content">
                        <ul>
                            <li>(현) 국회 보건복지위원회 위원</li>
                            <li>(전) 더불어민주당 대변인</li>
                            <li>(전) 더불어민주당 원내부대표</li>
                            <li>(전) 대통령 직속 국가교육회의 전문위원</li>
                            <li>(전) 미국 사우스다코타주립대학교 조교수</li>
                        </ul>
                    </div>
                    
                </div>
            </section>
    
            <section class="badge">
                <h3>획득한 휘장</h3>
                <div class="badgeBox">
                    <div><img src="../img/comm1.svg"></div>
                    <div><img src="../img/comm2.svg"></div>
                    <div><img src="../img/comm3.svg"></div>
                    <div><img src="../img/comm1.svg"></div>
                    <div><img src="../img/comm2.svg"></div>
                    <div><img src="../img/comm3.svg"></div>
                </div>
            </section>        
        </main>

    </div>

</body>
<script src="../js/main.js"></script>
<script src="../js/chart.js"></script>

</html>
</html>