<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=320, minimum-scale=1.0, maximum-scale=4.0, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Congress :: Web</title>
</head>

<body>

    <header>
        <div class="container">
            <div class="titleBox">
                <span class="title">의원</span>
            </div>
            <div class="toolBox">
                <img class="iconSearch" src="../img/search_black.svg" alt="search">
                <img class="iconAccount" src="../img/account_circle_black.svg" alt="mypage">
            </div>
            <div class="searchBox">
                <input type="text" id="search" placeholder="검색어를 입력해주세요" autocomplete="off">
            </div>
        </div>
    </header>

    <main id="members">
        <section class="memberList"> 
            <ul class="list"><!-- place -->
               <!-- here --> 
            </ul>
        </section>
    </main>



    <!-- template 'memberList' -->
    <template id="memberList">
        <li class="member">
            <div class="thumb">
                <img src="../img/member/member001.jpg" alt="member">
            </div>
            <div class="info">
                <span class="name">강선우</span>
                <span class="district">서울 강서구갑</span>
            </div>
        </li>
    </template>

    <nav class="gnb">
        <img src="../img/comm1.svg" alt="">
        <img src="../img/comm2.svg" alt="">
        <img src="../img/comm3.svg" alt="">
    </nav>

</body>

<script src="../js/main.js"></script>
<script src="../js/mapper.js"></script>

</html>

</html>