<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=320, minimum-scale=1.0, maximum-scale=4.0, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Congress :: Web</title>
</head>
<body>
    <!-- <header>
        <div class="container">
            <div class="titleBox">
                <span class="title">CONGRESS</span>
            </div>
            <div class="toolBox">
                <img src="../img/account_circle_black.svg">
            </div>
        </div>
    </header> -->

    <main id="member">
        <!-- <section class="common">
            <div class="container">
                <div class="thumb">
                    <img src="../img/member1.jpg" alt="member">
                </div>
                <div class="info">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </section> -->
        <section class="chart">
            <canvas id="mycvs" width="300" height="300" style="background-color: #EFEFEF; width:300px; height:300px; border-radius: 15px; margin: 10px; ">
            </canvas>
        </section>
    </main>

</body>
<script src="../js/main.js"></script>
</html>