<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=320, minimum-scale=1.0, maximum-scale=4.0, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="../css/main.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="../js/main.js"></script>
    <title>Congress :: Web</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="titleBox">
                <span class="title">CONGRESS</span>
            </div>
            <div class="toolBox">
                <img src="../img/account_circle_black.svg">
            </div>
        </div>
    </header>

    <main id="post">

        <section class="contents">

            <div class="container">

                <div class="navBox" onclick="javascript:location.href='forum.html'">
                    <span>서울 강서구갑</span>
                </div>

                <div class="titleBox">
                    <span class="title">머리에 우동사리만 들었냐? (우동 광고 아님)</span>
                </div>

                <div class="articleBox">                    
                    <div class="info">
                        <div class="writer">
                            <img src="../img/account_circle_black.svg">
                            <span>고구마살인마</span>
                        </div>
                        <div class="replyCount">
                            <img src="../img/question_answer_black.svg">
                            <span>122</span>
                        </div>
                        <div class="createTime">
                            <img src="../img/schedule_black.svg">
                            <span class="createTime">12:34:56</span>
                        </div>
                    </div>

                    <div class="article">
                        <p>
                            <img src="../img/udong.png" alt="udong">
                        </p>
                        <p>그 우동, 그 동네, 그 수듄 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅅㅂ</p>
                    </div>

                    <div class="response">
                        <div class="likeBox">
                            <img src="../img/thumb_up_black.svg">
                            <span>123</span>
                        </div>
                        <div class="dislikeBox">
                            <img src="../img/thumb_down_black.svg">
                            <span>456</span>
                        </div>
                    </div>
                </div>

                <div class="replyBox">
                    <ul>
                        <li>                            
                            <div class="reply">
                                <div class="info">
                                    <div class="thumb">
                                        <img src="../img/profile_user.jpg">
                                    </div>
                                    <div class="detail">
                                        <span class="writer">고구마살인마</span>
                                        <span class="createTime">12:34:56</span>                                                                                
                                    </div>                                    
                                </div>
                                <div class="comment">
                                    <span>군침이 싹도노</span>                                    
                                </div>
                                <div class="response">
                                    <div class="replyCount">
                                        <span>답글 122</span>
                                    </div>
                                    <div class="likes">
                                        <div class="likeBox">
                                            <img src="../img/thumb_up_black.svg">
                                            <span>123</span>
                                        </div>
                                        <div class="dislikeBox">
                                            <img src="../img/thumb_down_black.svg">
                                            <span>456</span>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </li>
                        <li>                            
                            <div class="reply">
                                <div class="info">
                                    <div class="thumb">
                                        <img src="../img/profile_user2.jpg">
                                    </div>
                                    <div class="detail">
                                        <span class="writer">감자거지</span>
                                        <span class="createTime">12:34:56</span>                                                                                
                                    </div>                                    
                                </div>
                                <div class="comment">
                                    <span>여러분 이게 중요한게 아닙니다. 우동이 불어터지고 있어요 이지랄ㅋㅋㅋㅋ</span>                                    
                                </div>
                                <div class="response">
                                    <div class="replyCount">
                                        <span>답글 122</span>
                                    </div>
                                    <div class="likes">
                                        <div class="likeBox">
                                            <img src="../img/thumb_up_black.svg">
                                            <span>123</span>
                                        </div>
                                        <div class="dislikeBox">
                                            <img src="../img/thumb_down_black.svg">
                                            <span>456</span>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </li>
                    </ul>

                </div>

            </div>

        </section>

        <section class="board">
            <div class="container">
                <ul class="list">
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[3]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                    <li>
                        <div class="row1">
                            <span class="title">제목이 들어가는 곳입니다.</span>
                            <span class="reply">[0]</span>
                            <span class="isNew"></span>
                            <span class="hasImage"></span>
                        </div>
                        <div class="row2">
                            <span class="wrighter">김태경</span>
                            <span class="createTime">11:22:04</span>
                            <span class="viewCount">12,345</span>
                            <sapn class="likeCount">233</sapn>
                        </div>
                    </li>
                </ul>
                <ul class="pagenation">
                    <li></li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li></li>
                </ul>
            </div>
        </section>

    </main>

</body>

</html>